<% if notice %>
  <p class="alert alert-primary mt-3" id="notice"><%= notice %></p>
<% end %>

<div class="row">
  <div class="offset-2 col-8 mt-3 mb-3 shadow text-center">
    <h2>FAQ (Perguntas Frequentes)</h2>
      <h3 class="text-primary">Doações</h3>

      <p><strong>Após eu oferecer uma ajuda, quanto tempo tem para pagar?</strong><br>
      O participante tem 24 horas para concluir.</p>

      <p><strong>Caso o participante não pague a ordem, o que acontece?</strong><br>
      Ocorrerá um bloqueio por 7 dias na conta do doador e uma nova doação será direcionado ao
      beneficiário (recebedor). Após esse período, caso não cumpra com a ordem será bloqueado
      por mais 30 dias, após esse período não cumprindo com a ordem pela terceira vês, seu
      cadastro será invalidado não podendo sacar seus benefícios vinculado a conta.
      Após eu ter concluído minha doação quanto tempo demora em iniciar os rendimentos?</strong><br>
      Os rendimentos iniciam no momento da confirmação da doação, porém você poderá sacar os
      rendimentos após realizar o recompromisso de doação no mesmo valor da anterior.</p>

      <p><strong>Caso o valor que eu doei foi errado, o que devo fazer?</strong><br>
      Você deverá entrar em contato com o recebedor e fazer o restante, caso a doação não seja
      concluída sua conta será bloqueada por 15 dias.</p>

      <h3 class="text-primary">Recebimentos</h3>

      <p><strong>Quando receberei minhas doações?</strong><br>
      Após a finalização do relógio de sete dias, o botão de recompromisso ficará verde, basta clicar
      e executar o recompromisso, pronto! A doação ficará em saldo disponíveis para receber ajuda.</p>

      <p><strong>Quando termina um contador outro começa a contar quando?</strong><br>
      Após o término de um contador outro começará automaticamente a pós a confirmação do
      recompromisso.</p>

      <p><strong>Após eu pedir uma ajuda, quanto tempo leva para eu receber?</strong><br>Pode ser até 72 horas.</p>

      <p><strong>Apareceu um participante e o saldo já foi depositado! Quanto tempo tenho para
      confirmar?</strong><br>
      A confirmação é automatizada, caso não seja confirmado, você tem 24 horas para a
      confirmação, não havendo sua confirmação, o sistema entende que foi concluída e confirma
      sozinha, caso tenha problemas com o comprovante entre em contato com o suporte.</p>

      <p><strong>Após 7 dias o rendimento para?</strong><br>
      Sim, após os 7 dias você precisa cumprir com o recompromisso e resgatar a sua ajuda para
      que os contadores voltem a funcionar.</p>

      <p><strong>Eu posso fazer novas ordens com os meus juros?</strong><br>
      Será necessário sacar seus rendimentos para criar uma nova ordem.</p>

      <p><strong>Como entro em contato o doador/recebedor de uma doação em aberto?</strong><br>
      Em cada doação consta o contato de whatsapp cadastrado dos participantes para
      comunicação.</p>

      <p><strong>Quantas ordens de doação posso fazer?</strong><br>
      Você pode fazer uma ordem de cada vez e após a doação anterior ter sido concluída o
      participante já pode oferecer outra, com o limite de 5 ordens por CPF.</p>

      <p><strong>Posso pedir quantas ajudas?</strong><br>
      Após o pedido anterior for concluído o participante poderá iniciar outro pedido.</p>

      <p><strong>Quando posso pedir meus bônus?</strong><br>
      O bônus será depositado diretamente em sua conta mibank pelo seu indicado.Conta e cadastro</p>

      <p><strong>Posso ter quantas contas em meu IP?</strong><br>
      Sim, quantas quiser.
      Posso ter mais de um cadastro em meu CPF?</strong><br>
      Não, é permitido apenas um cadastro por CPF, em caso de suspeito de fraude as contas serão
      bloqueadas para analise.</p>

      <p><strong>Posso cadastrar um CPF diferente do que eu tenho na mibank?</strong><br>
      Sim, porém recomendamos que cada participante utilize a sua própria conta mibank.

      <p>Posso cadastrar com um e-mail inexistente?</strong><br>
      Não, caso você cadastre com um e-mail errado você não conseguirá recuperar sua conta caso
      necessário, nem os códigos necessários para alteração de dados de recebimento.</p>

      <h3 class="text-primary">Bônus</h3>

      <p><strong>Sou obrigado a indicar pessoas?</strong><br>
      Não.</p>

      <p><strong>Posso indicar pessoas sem fazer uma doação e receber bônus?</strong><br>
      Não, precisa estar ativo na plataforma para receber qualquer bônus.</p>

      <p><strong>Indiquei mas não recebi bônus o que devo fazer?</strong><br>
      Provavelmente seu indicado não fez uma doação ou não esta cadastrado em seu link. Antes de
      chamar o suporte faça essa verificação com seu indicado.</p>

      <h3 class="text-primary">Suporte e dúvidas</h3>

      <p><strong>Eu abri um ticket de suporte, e ainda não fui respondido porque?</strong><br>
      Suporte tem até 2 dias para lhe responder. Dependendo da demanda pode ser respondido</p>

      <p><strong>antes.Como deve ser o comprovante de minha doação?</strong><br>
      Doações mibank, você deve enviar o número da transação.</p>

      <p><strong>Quando eu coloco o número da transação via mibank o sistema já confirma minha doação
      automáticamente?</strong><br> Ou quem está recebendo também precisa confirmar?</strong><br>
      Quando você envia o número de transação, a mibank faz um reconhecimento para ver se os
      valores estão corretos com o valor da doação. Caso esteja correto sua ativação ocorre
      automaticamente.</p>

      <p><strong>Eu tenho alguma garantia do meu investimento?</strong><br>
      Não! Você não está investindo, você esta doando! Quando se doa por livre espontânea
      vontade não existe garantias.</p>

      <p><strong>A Home Cash tem CNPJ?</strong><br>
      Não, pois somos apenas uma comunidade que direciona as doações entre participantes que
      querem se ajudar, não temos conta central, não temos empresa, nem pessoas com benefícios
      a mais no sistema.</p>

      <p><strong>A Home Cash é uma pirâmide?</strong><br>
      Não, a Home Cash é uma comunidade criada para os participantes interessados em se
      ajudarem através de doações entre eles mesmos. As doações são diretamente entre os
        participantes o que é legalmente amparado pelo código civil brasileiro Art. 538.</p>
  </div>

</div>